<!DOCTYPE html>
<html lang="en">
    {% include 'clixove_org/header.html' %}
    <body>
        {% include 'clixove_org/navigator.html' %}
        <div class="container-md">
            <p class="bd-callout bd-callout-logos d-flex justify-content-between">
                <strong>App Name</strong>
                <a href="#" style="text-decoration: none;">Back</a>
            </p>
        </div>
        <div style="height: 80px;"></div>
        {% include 'clixove_org/copyright.html' %}
    </body>
</html>
