<!DOCTYPE html>
<html lang="en">
    {% include 'clixove_org/header.html' %}

    <body>
        {% include 'clixove_org/navigator.html' %}
        <div class="container-md">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <p class="bd-callout bd-callout-logos d-flex justify-content-between">
                        <strong>Admission</strong>
                        <a href="/library" style="text-decoration: none;">Back</a>
                    </p>
                    <form>
                        <table class="table table-borderless table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Group</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in NewUserTable %}
                                <tr>
                                    <td>
                                        <label>
                                            <input class="form-check-input" type="checkbox" name="application" value="{{ x.id }}" />
                                        </label>
                                    </td>
                                    <td>{{ x.username }}</td>
                                    <td>
                                        {% for g in x.group.all %}{{ g.name }}<br />
                                        {% endfor %}
                                    </td>
                                    <td>{{ x.bio | linebreaks}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <input type="reset" value="❌" class="btn btn-light mb-1" />
                        <input type="button" value="✔" class="btn btn-light mb-1" onclick="check_all('application')" />

                        <!-- Advance function module -->
                    <a class="btn btn-outline-primary mb-1" type="button" data-bs-toggle="modal" data-bs-target="#admitModal"
                       onclick="copy_selected_instances('application', 'review-signal')">
                        Review
                    </a>
                    </form>


                
                <!-- Submission module -->
                    <div class="modal fade" id="admitModal" tabindex="-1" aria-labelledby="admitModalTitle" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <strong class="modal-title" id="admitModalTitle">Review</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="/mylogin/admit/" method="post">
                                    <div class="modal-body">
                                        {{ AdmitSheet.as_p }}
                                        <div id="review-signal" hidden></div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-success" value="OK" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div style="height: 80px;"></div>
        {% include 'clixove_org/copyright.html' %}
    </body>
</html>
