<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'clixove.org/header.html' %}
</head>
<body>
{% include 'clixove.org/navigator.html' %}
    <div class="container-md">
        <div class="d-flex flex-column justify-content-center" id="app-main-page">
            <div class="row justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <p class="display-6 mt-2">Liboard</p>
                        <p class="lead">The Script for Academic Papers Management</p>
                        <hr>
                    </div>
                </div>
                <div class="col-md-4">
                    <form action="/my_login/login" method="post">
                        {{ LoginSheet.as_p }}
                        <div class="text-center">
                            <input type="submit" class="btn btn-success" value="Login">
                        </div>
                    </form>
                    <p>No account? <a href="/my_login/register">Register</a></p>
                </div>
            </div>
        </div>
    </div>
    {% include 'clixove.org/copyright.html' %}
    <script>
        navbar_height = document.getElementById("clixove-navigator").offsetHeight;
        main_height = innerHeight - navbar_height - copyright_height;
        document.getElementById("app-main-page").setAttribute("style", "height: " + main_height + "px;");
    </script>
</body>
</html>
