<!DOCTYPE html>
<html lang="en">
    {% include 'clixove_org/header.html' %}
    <body>
        {% include 'clixove_org/navigator.html' %}
        <div class="container-md">
            <p class="bd-callout bd-callout-logos d-flex justify-content-between">
                <strong>Share</strong>
                <a href="/share/list-link" style="text-decoration: none;">Back</a>
            </p>
        <div class="row">
            <div class="col-md-6">
                <div class="bd-callout">
                    <table class="table table-sm">
                        <caption class="caption-top">Information</caption>
                        <tbody>
                            <tr><td style="width: 30%;"><strong>From: </strong></td><td>{{ ViewLink.from_user.username }}</td></tr>
                            <tr><td><strong>To: </strong></td><td></td></tr>
                            {% for tou in ViewLink.to_user.all %}
                                <tr><td></td><td>{{ tou.username }}</td></tr>
                            {% endfor %}
                            <tr><td><strong>Documents: </strong></td><td></td></tr>
                            {% for pp in ViewLink.papers.all %}
                                <tr><td></td><td><a href="{{ pp.file.url }}">{{ pp.filename }}</a> </td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        </div>
        <div style="height: 80px;"></div>
        {% include 'clixove_org/copyright.html' %}
    </body>
</html>
