<!DOCTYPE html>
<html lang="en">
    {% include 'clixove_org/header.html' %}
    <body>
        {% include 'clixove_org/navigator.html' %}
        <div class="container-md">
            <p class="bd-callout bd-callout-logos d-flex justify-content-between">
                <strong>Shared Links</strong>
                <a href="/library" style="text-decoration: none;">Back</a>
            </p>
            <table class="table table-borderless table-hover">
                <caption class="caption-top">Shared by me:</caption>
                <thead>
                    <tr>
                        <th>To</th>
                        <th>Documents</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in LinkTable1 %}
                        <tr>
                        <td>{% for tou in x.to_user.all %} {{ tou.username }}; {% endfor %}</td>
                        <td>
                            {% for pp in x.papers.all %} {{ pp.filename }}; <br>{% endfor %}
                        </td>
                            <td><a href="/share/link/id={{ x.id }}" class="badge bg-secondary rounded-pill">View</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <table class="table table-borderless table-hover">
                <caption class="caption-top">Shared to me:</caption>
                <thead>
                    <tr>
                        <th>From</th>
                        <th>Documents</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in LinkTable2 %}
                        <tr>
                        <td>{{ x.from_user }}</td>
                        <td>
                            {% for pp in x.papers.all %} <a href="{{ pp.file.url }}">{{ pp.filename }}</a> <br>{% endfor %}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="height: 80px;"></div>
        {% include 'clixove_org/copyright.html' %}
    </body>
</html>
